mixin carousel-posts(data)
    .carousel-posts
        .carousel-posts__item
            a.post(href="/")
                .post__img-wrapper
                    img.post__img(src="img/main/post/post-1.jpg" alt="post-illustration")
                .post__caption
                    h3.post__title Sed do eiusmod  tempor incididunt ut!
                    .post__info
                        .news-info__data
                            i.icon-calendar
                            time.post__publication-date(datetime="2014-03-27") 27 March, 2014
        .carousel-posts__item
            a.post(href="/")
                .post__img-wrapper
                    img.post__img(src="img/main/post/post-2.jpg" alt="post-illustration")
                .post__caption
                    h3.post__title Sed do eiusmod  tempor incididunt ut!
                    .post__info
                        .post__info-data.news-info__data
                            i.icon-calendar
                            time.post__publication-date(datetime="2014-03-27") 27 March, 2014
        .carousel-posts__item
            a.post(href="/")
                .post__img-wrapper
                    img.post__img(src="img/main/post/post-3.jpg" alt="post-illustration")
                .post__caption
                    h3.post__title Sed do eiusmod  tempor incididunt ut!
                    .post__info
                        .news-info__data
                            i.icon-calendar
                            time.post__publication-date(datetime="2014-03-27") 27 March, 2014
        .carousel-posts__item
            a.post(href="/")
                .post__img-wrapper
                    img.post__img(src="img/main/post/post-4.jpg" alt="post-illustration")
                .post__caption
                    h3.post__title Sed do eiusmod  tempor incididunt ut!
                    .post__info
                        .news-info__data
                            i.icon-calendar
                            time.post__publication-date(datetime="2014-03-27") 27 March, 2014
