mixin entertainment(data)
    .tab-wrapper.entertainment__tab-wrapper
        .tab-content.entertainment__tab-content
            .tab-content__item.active(data-tab-block="entertainment-tab-1")
                .article-preview.entertainment__article-preview
                    .article-preview__img-wrapper
                        img.article-preview__img(src="img/main/post/post-1.jpg")
                    a.article-preview__caption.entertainment__caption(href="/")
                        h3.article-preview__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
            .tab-content__item(data-tab-block="entertainment-tab-2")
                .article-preview.entertainment__article-preview
                    .article-preview__img-wrapper
                        img.article-preview__img(src="img/main/post/post-2.jpg")
                    a.article-preview__caption.entertainment__caption(href="/")
                        h3.article-preview__title Sed ut perspiciatis unde  omnis!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
            .tab-content__item(data-tab-block="entertainment-tab-3")
                .article-preview.entertainment__article-preview
                    .article-preview__img-wrapper
                        img.article-preview__img(src="img/main/post/post-3.jpg")
                    a.article-preview__caption.entertainment__caption(href="/")
                        h3.article-preview__title Sed ut perspiciatis unde  omnis!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
            .tab-content__item(data-tab-block="entertainment-tab-4")
                .article-preview.entertainment__article-preview
                    .article-preview__img-wrapper
                        img.article-preview__img(src="img/main/post/post-4.jpg")
                    a.article-preview__caption.entertainment__caption(href="/")
                        h3.article-preview__title Sed ut perspiciatis unde  omnis!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
        .tab-list.entertainment__tab-list
            .tab-list__item.entertainment__tab-item(data-tab="entertainment-tab-1")
               .entertainment__tab-img-wrapper
                    img.entertainment__tab-img(src="img/main/post/post-1.jpg" alt="thumbnail")
               .entertainment__tab-description.article-preview__description
                    h4.entertainment__tab-description-title Nemo enim ipsam voluptatem  quia sit!
                    .news-info__data
                        i.icon-user.news-info__data-icon
                        i.icon-calendar.news-info__data-icon
                        i.icon-comment.news-info__data-icon
            .tab-list__item.entertainment__tab-item(data-tab="entertainment-tab-2")
                .entertainment__tab-img-wrapper
                    img.entertainment__tab-img(src="img/main/post/post-2.jpg" alt="thumbnail")
                .entertainment__tab-description.article-preview__description
                    h4.entertainment__tab-description-title Sed ut perspiciatis unde  omnis!
                    .news-info__data
                        i.icon-user.news-info__data-icon
                        i.icon-calendar.news-info__data-icon
                        i.icon-comment.news-info__data-icon
            .tab-list__item.entertainment__tab-item(data-tab="entertainment-tab-3")
                .entertainment__tab-img-wrapper
                    img.entertainment__tab-img(src="img/main/post/post-3.jpg" alt="thumbnail")
                .entertainment__tab-description.article-preview__description
                    h4.entertainment__tab-description-title A New Yorker doesn't  necessarily come!
                    .news-info__data
                        i.icon-user.news-info__data-icon
                        i.icon-calendar.news-info__data-icon
                        i.icon-comment.news-info__data-icon
            .tab-list__item.entertainment__tab-item(data-tab="entertainment-tab-4")
                .entertainment__tab-img-wrapper
                    img.entertainment__tab-img(src="img/main/post/post-4.jpg" alt="thumbnail")
                .entertainment__tab-description.article-preview__description
                    h4.entertainment__tab-description-title Sed ut perspiciatis unde  omnis!
                    .news-info__data
                        i.icon-user.news-info__data-icon
                        i.icon-calendar.news-info__data-icon
                        i.icon-comment.news-info__data-icon