mixin main-content(data)
    main.main
        section.section.main__section.section-last-posts
            .section-header
                h2.section__title
                    span.section__title-text Latest Posts
            .section-content.section-last-posts__content
                .article-preview.article-preview__last-posts
                    img.article-preview__img.article-preview__last-posts-img(src="img/main/perfume-fashion.jpg")
                    a.article-preview__caption(href="/")
                        h3.article-preview__title.section-last-posts__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
                .article-preview.article-preview__last-posts
                    img.article-preview__img.article-preview__last-posts-img(src="img/main/perfume-fashion.jpg")
                    a.article-preview__caption(href="/")
                        h3.article-preview__title.section-last-posts__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
                .article-preview.article-preview__last-posts
                    img.article-preview__img.article-preview__last-posts-img(src="img/main/perfume-fashion.jpg")
                    a.article-preview__caption(href="/")
                        h3.article-preview__title.section-last-posts__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
                .article-preview.article-preview__last-posts
                    img.article-preview__img.article-preview__last-posts-img(src="img/main/perfume-fashion.jpg")
                    a.article-preview__caption(href="/")
                        h3.article-preview__title.section-last-posts__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon

        section.section.main__section.section-news-in-picture
            .section-header
                h2.section__title
                    span.section__title-text News in Picture
            .section-content.section-news-in-picture__content
                +news-in-picture
        section.section.main__section.section-posts
            .section-header
                h2.section__title
                    span.section__title-text Carousel Posts
            .section-content
                +carousel-posts
        section.section.main__section.section-entertainment
            .section-header
                h2.section__title
                    span.section__title-text Entertainment
            .section-content.section-entertainment__content
                +entertainment

        .advertisement.advertisement--light.main-advertisement