mixin news-in-picture(data)
    .tab-wrapper.news-in-picture__tab-wrapper
        .tab-content.news-in-picture__tab-content
            .tab-content__item.news-in-picture__tab-content-item.active(data-tab-block="news-in-picture-tab-1")
                .article-preview.news-in-picture__article-preview
                    .article-preview__img-wrapper
                        img.article-preview__img.news-in-picture__article-preview-img(src="img/main/perfume-fashion.jpg")
                    a.article-preview__caption.news-in-picture__caption(href="/")
                        h3.article-preview__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
            .tab-content__item.news-in-picture__tab-content-item(data-tab-block="news-in-picture-tab-2")
                .article-preview.news-in-picture__article-preview
                    img.article-preview__img.news-in-picture__article-preview-img(src="img/main/perfume-fashion-2.jpg")
                    a.article-preview__caption.news-in-picture__caption(href="/")
                        h3.article-preview__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
            .tab-content__item.news-in-picture__tab-content-item(data-tab-block="news-in-picture-tab-3")
                .article-preview.news-in-picture__article-preview
                    img.article-preview__img.news-in-picture__article-preview-img(src="img/main/perfume-fashion-3.jpg")
                    a.article-preview__caption.news-in-picture__caption(href="/")
                        h3.article-preview__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
            .tab-content__item.news-in-picture__tab-content-item(data-tab-block="news-in-picture-tab-4")
                .article-preview.news-in-picture__article-preview
                    img.article-preview__img.news-in-picture__article-preview-img(src="img/main/perfume-fashion-4.jpg")
                    a.article-preview__caption.news-in-picture__caption(href="/")
                        h3.article-preview__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
            .tab-content__item.news-in-picture__tab-content-item(data-tab-block="news-in-picture-tab-5")
                .article-preview.news-in-picture__article-preview
                    img.article-preview__img.news-in-picture__article-preview-img(src="img/main/perfume-fashion-5.jpg")
                    a.article-preview__caption.news-in-picture__caption(href="/")
                        h3.article-preview__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
            .tab-content__item.news-in-picture__tab-content-item(data-tab-block="news-in-picture-tab-6")
                .article-preview.news-in-picture__article-preview
                    img.article-preview__img.news-in-picture__article-preview-img(src="img/main/perfume-fashion-6.jpg")
                    a.article-preview__caption.news-in-picture__caption(href="/")
                        h3.article-preview__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
            .tab-content__item.news-in-picture__tab-content-item(data-tab-block="news-in-picture-tab-7")
                .article-preview.news-in-picture__article-preview
                    img.article-preview__img.news-in-picture__article-preview-img(src="img/main/perfume-fashion-7.jpg")
                    a.article-preview__caption.news-in-picture__caption(href="/")
                        h3.article-preview__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
            .tab-content__item(data-tab-block="news-in-picture-tab-8")
                .article-preview.news-in-picture__article-preview
                    img.article-preview__img.news-in-picture__article-preview-img(src="img/main/perfume-fashion-8.jpg")
                    a.article-preview__caption.news-in-picture__caption(href="/")
                        h3.article-preview__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
            .tab-content__item.news-in-picture__tab-content-item(data-tab-block="news-in-picture-tab-9")
                .article-preview.news-in-picture__article-preview
                    img.article-preview__img.news-in-picture__article-preview-img(src="img/main/perfume-fashion-9.jpg")
                    a.article-preview__caption.news-in-picture__caption(href="/")
                        h3.article-preview__title Nemo enim ipsam voluptatem  quia sit!
                        .news-info
                            .news-info__tag
                                i.icon-folder
                                span.news-info__tag-name Photography
                            .news-info__data
                                i.icon-star.news-info__data-icon
                                i.icon-user.news-info__data-icon
                                i.icon-calendar.news-info__data-icon
                                i.icon-comment.news-info__data-icon
        .tab-list.news-in-picture__tab-list
            .tab-list__item.news-in-picture__tab-item.active(data-tab="news-in-picture-tab-1")
                img.tab-list__item-img.news-in-picture__tab-img(src="img/main/perfume-fashion.jpg" alt="tab-image")
            .tab-list__item.news-in-picture__tab-item(data-tab="news-in-picture-tab-2")
                img.tab-list__item-img.news-in-picture__tab-img(src="img/main/perfume-fashion-2.jpg" alt="tab-image")
            .tab-list__item.news-in-picture__tab-item(data-tab="news-in-picture-tab-3")
                img.tab-list__item-img.news-in-picture__tab-img(src="img/main/perfume-fashion-3.jpg" alt="tab-image")
            .tab-list__item.news-in-picture__tab-item(data-tab="news-in-picture-tab-4")
                img.tab-list__item-img.news-in-picture__tab-img(src="img/main/perfume-fashion-4.jpg" alt="tab-image")
            .tab-list__item.news-in-picture__tab-item(data-tab="news-in-picture-tab-5")
                img.tab-list__item-img.news-in-picture__tab-img(src="img/main/perfume-fashion-5.jpg" alt="tab-image")
            .tab-list__item.news-in-picture__tab-item(data-tab="news-in-picture-tab-6")
                img.tab-list__item-img.news-in-picture__tab-img(src="img/main/perfume-fashion-6.jpg" alt="tab-image")
            .tab-list__item.news-in-picture__tab-item(data-tab="news-in-picture-tab-7")
                img.tab-list__item-img.news-in-picture__tab-img(src="img/main/perfume-fashion-7.jpg" alt="tab-image")
            .tab-list__item.news-in-picture__tab-item(data-tab="news-in-picture-tab-8")
                img.tab-list__item-img.news-in-picture__tab-img(src="img/main/perfume-fashion-8.jpg" alt="tab-image")
            .tab-list__item.news-in-picture__tab-item(data-tab="news-in-picture-tab-9")
                img.tab-list__item-img.news-in-picture__tab-img(src="img/main/perfume-fashion-9.jpg" alt="tab-image")