mixin  news-slider(data)
    .news-slider
        .news-slider__item
            .article-preview.news-slider-content.slider-content
                img.article-preview__img.news-slider-content__img(src="img/news-slider/image-2.jpg" alt="news-model")
                a.article-preview__caption.news-slider-content__caption(href="/")
                    h2.article-preview__title.news-slider__title Nemo enim ipsam voluptatem  quia sit!
                    .news-info
                        .news-info__tag
                            i.icon-folder
                            span.news-info__tag-name Photography
                        .news-info__data
                            i.icon-star.news-info__data-icon
                            i.icon-user.news-info__data-icon
                            i.icon-calendar.news-info__data-icon
                            i.icon-comment.news-info__data-icon
        .news-slider__item
            .article-preview.news-slider-content.slider-content
                img.article-preview__img.news-slider-content__img(src="img/news-slider/image-2.jpg" alt="news-model")
                a.article-preview__caption.news-slider-content__caption(href="/")
                    h2.article-preview__title.news-slider__title Lorem Ipsum is simply dummy text of typesettin!
                    .news-info
                        .news-info__tag
                            i.icon-folder
                            span.news-info__tag-name People,
                            span.news-info__tag-name Society
                        .news-info__data
                            i.icon-star.news-info__data-icon
                            i.icon-user.news-info__data-icon
                            i.icon-calendar.news-info__data-icon
                            i.icon-comment.news-info__data-icon
        .news-slider__item
            .article-preview.news-slider-content.slider-content
                img.article-preview__img.news-slider-content__img(src="img/news-slider/image-2.jpg" alt="news-model")
                a.article-preview__caption.news-slider-content__caption(href="/")
                    h2.article-preview__title.news-slider__title Nemo enim ipsam voluptatem  quia sit!
                    .news-info
                        .news-info__tag
                            i.icon-folder
                            span.news-info__tag-name Health
                        .news-info__data
                            i.icon-star.news-info__data-icon
                            i.icon-user.news-info__data-icon
                            i.icon-calendar.news-info__data-icon
                            i.icon-comment.news-info__data-icon
        .news-slider__item
            .article-preview.news-slider-content.slider-content
                img.article-preview__img.news-slider-content__img(src="img/news-slider/image-2.jpg" alt="news-model")
                a.article-preview__caption.news-slider-content__caption(href="/")
                    h2.article-preview__title.news-slider__title Lorem Ipsum is simply dummy text of and typesettin!
                    .news-info
                        .news-info__tag
                            i.icon-folder
                            span.news-info__tag-name Animation,
                            span.news-info__tag-name  Game
                        .news-info__data
                            i.icon-star.news-info__data-icon
                            i.icon-user.news-info__data-icon
                            i.icon-calendar.news-info__data-icon
                            i.icon-comment.news-info__data-icon
        .news-slider__item
            .article-preview.news-slider-content.slider-content
                img.article-preview__img.news-slider-content__img(src="img/news-slider/image-2.jpg" alt="news-model")
                a.article-preview__caption.news-slider-content__caption(href="/")
                    h2.article-preview__title.news-slider__title Sed ut perspiciatis unde !
                    .news-info
                        .news-info__tag
                            i.icon-folder
                            span.news-info__tag-name Music
                        .news-info__data
                            i.icon-star.news-info__data-icon
                            i.icon-user.news-info__data-icon
                            i.icon-calendar.news-info__data-icon
                            i.icon-comment.news-info__data-icon
        .news-slider__item
            .article-preview.news-slider-content.slider-content
                img.article-preview__img.news-slider-content__img(src="img/news-slider/image-2.jpg" alt="news-model")
                a.article-preview__caption.news-slider-content__caption(href="/")
                    h2.article-preview__title.news-slider__title Nemo enim ipsam voluptatem  quia sit!
                    .news-info
                        .news-info__tag
                            i.icon-folder
                            span.news-info__tag-name Music
                        .news-info__data
                            i.icon-star.news-info__data-icon
                            i.icon-user.news-info__data-icon
                            i.icon-calendar.news-info__data-icon
                            i.icon-comment.news-info__data-icon