//colors
$color-white: #fff;
$color-dim-white: #f3f3f3;//sub-header
$color-black-nature: #000000;
$color-black: #2d2d2d;
$color-red: #e75757;
$color-gray: #e5e5e5;// input bg
$color-gray-middle: #aeaeae;// stars in slider
$color-gray-time: #bdbdbd;// time



$color-gray-light: #e9e9e9;//social link bg
$color-gray-dark: #2c2c2c;// btn-dark
$color-gray-mouse: #9f9f9f;
$color-blue: #325c94;//social hover
$color-blue-dark: #2c5182;//social fb
$color-blue-violet: #4d6baa;//social link in footer
$color-cyan: #4fc0e9;//social tw
$color-cyan-dark: #3bafda;//social tw
$color-orange: #f78634;// rss
$color-blue-light: #55b2f3;//btn

//text

$font-main: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
$font-size: 14px;
$color-main: $color-black;
$line-height: 1.42;


//border
$border-dark-thin: 1px solid $color-black;
$border-light-thin: 1px solid $color-gray;
$border-light: 3px solid $color-gray;
$border-dark: 3px solid $color-black;

$border-radius: 3px;
